<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UT<F-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <%- include('./partials/nav') %>

    <nav>
    <a href="/">Home</a>
    <a href="/menu">Full Menu</a>
  </nav>
  <h1>Full Menu</h1>

  <!---Render the Mains-->
  <h2>Mains</h2>
  <ul>
    <% menu.forEach(item => { %>
        <% if (item.category === 'Mains') {
        <li>
            <h3><%= item.name %></h3>
            <p>Price: $<% item.price.toFixed(2)%></p>
            <p>Rating: <% item.rating%>/5</p>
            <p>Details:<%= item.details%></p>
        </li>  
     <%   } %>
   <% }) %>
   <!--Render Sides-->
   <h2>Sides</h2>
   <% menu.forEach(item => { %>
    <% if (item.category === 'Sides') %>{
    <li>
        <h3><%= item.name %></h3>
        <p>Price: $<%= item.ratingFixed(2) %></p>
        <p>Rating: <%= item.rating %>/5</p>
        <p>Details: <%= item.details%></p>
    </li>
    <% } %>
  <$ }) %>
  </ul>
  <!----Render--Desserts----->
  <h2>Desserts</h2>
  <ul>
    <% menu.forEach(item => { %>
        <% if (item.category === 'Desserts') { %>
            <li>
                <h3><%= item.name%></h3>
                <p>Price: $<%= item.price.toFixed(2)%></p>
                <p>Rating:<%= item.rating%>/5</p>
                <p>Details:<%= item.details %></p>
            </li>
       <% } %>
    <%  }) %>
  </ul>
</body>
</html>
